.elm-overlay {
    z-index: 1000;
}

@font-face {
  font-family: 'Fantasque Sans Mono';
  src:  url('fonts/fantasque-sans/FantasqueSansMono-Regular.woff2') format('woff2'),
        url('fonts/fantasque-sans/FantasqueSansMono-Regular.woff') format('woff');
}

#root {
    height: 100%;
}

* {
    font-family: Fantasque Sans Mono, monospace !important;
}

a {
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox__input {
    margin: 0 4px 0 0;
}

.container {
    width: 480px;
    padding: 16px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.logo {
    padding-bottom: 8px;
}

@media (max-width: 511px) {
    .logo__image {
        width: 200px;
    }
}

@media (min-width: 512px) {
    .logo__image {
        width: 100%;
    }
}

.game-grid {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
    padding-bottom: 16px;
}

.game-grid__column {
    display: flex;
    flex-direction: column;
}

.knob {
    width: 40px;
    height: 40px;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    margin-top: 32px;
}

.won-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
}

.won-overlay__column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.won-overlay__play-again {
    padding-top: 4px;
}

.lobster{
    width: 200px;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}

@keyframes bounce {
    0% {
        transform-origin: 50% 100%;
        transform: scale(1,1);
    }
    10% {
        transform-origin: 50% 100%;
        transform: scale(0.9,1.2);
    }
    20% {
        transform-origin: 50% 100%;
        transform: scale(1.5,0.5);
    }
    25% {
        transform-origin: 50% 100%;
        transform: scale(0.75,1.5) translate(0px,-10px);
    }
    30% {
        transform-origin: 50% 100%;
        transform: scale(0.8,1.2) translate(0px,-50px);
    }
    60% {
        transform-origin: 50% 100%;
        transform: scale(1,1) translate(0px,-100px);
    }
    70% {
        transform-origin: 50% 100%;
        transform: scale(2,0.5);
    }
    80% {
        transform-origin: 50% 100%;
        transform: scale(0.8,1.1);
    }
    89% {
        transform-origin: 50% 100%;
        transform: scale(1,1);
    }
    90% {
        transform-origin: 50% 100%;
        transform: scale(1,1);
    }
    100% {
        transform-origin: 50% 100%;
        transform: scale(1,1);
    }

}
